@import 'theme/colors';

.tech {
	position: relative;
	height: 100vh;
	background-color: $bg-3;

	&__heading {
		font-size: 5rem;
		text-align: center;
		padding: 8rem 0;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
		grid-gap: 4rem;
		width: 80vw;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__icon {
		border-radius: 50%;
		border: 1px solid $bg-1;
		height: 6rem;
		width: 6rem;
	}
}